/*scroll behavior */
html{
  scroll-behavior: smooth;
}


/*style the header*/
header{
  color: #000000;
  line-height: 2; 
  font-family: "EB Garamond", sans-serif;
}

/* need to adjust so opacity doesn't affect the text*/
#h h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
  border: dotted 5px #ffffff;
  background-image: url(../main-images/background-img.jpg);
  background-size: cover;
  padding: 30px;
  animation-name: border-change;
  animation-duration: 3s;
}

@keyframes border-change{
  0% {border: solid 5px #bcc4f3;}
  75% {border: solid 5px #131969}
  100% {border: dotted 5px #ffffff;}

}

/*no font flip card in mobil or tablet */
.flip-back h1{
  font-size: 0px;
}
.flip-back p{
  font-size: 0px;
}

h2{
  font-size: 30px;
  text-align: center;
  margin: 20px;
}


main p div{
  text-align:center;
  font-size:20px;

}

nav{
  text-align: center;
  margin: 20px;
}

nav li{
  display:  inline;
  position: relative;
  text-align: center;
  padding-right: 20px;
  margin: 20px;
  font-size: 24px;
  text-align: left;
}
nav li:visited{
  text-decoration: none;
  color: #000000;

}

body{
  display: grid;
  background-color: #a9e3f5;
  padding: 20px;
}

/*style for images

at some point i need to switch this to flex

*/ 
#main img{
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 2px #000000;
  border-radius: 25%;
  margin: 30px;
  animation-name: image;
  animation-duration: 3s;
}
#main img:hover{
  filter: blur(10px) saturate(500%);
}

@keyframes image{
  from{opacity: 0;}
  to{opacity: 1;}
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}

.grid-item{
  font-size: 24px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* style for nav bar */
.current{
  text-transform: uppercase;
}

/*style for footer */
footer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  left:0;
  bottom: 0;
  width: auto;
  position: fixed;
  background-color: #2e3be7;
  color: white;
  text-align: center;
  padding: 10px;

}
footer img{
  width: 30px;
  height: auto;
}

.foot{
  background-color: #131969;
  padding: 20px;
  text-shadow: 2px 2px 5px #a9e3f5;
  height: 10px;
  justify-content: center;
}

/* style the form */
form{
  text-align: center;
  font-size: 24px;
  padding-bottom: 100px;
  

}


/* style p*/
.context{
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  margin: 15px;
  font-size: 24px;
  justify-content: center;
  padding-bottom: 200px;
  text-align: center;
}
.grid-context{
  text-align: left;
}

.skip{
  left: 0;
  position: absolute;
  margin-top: -50px;
  padding: 8px; 
  transform:translateY(-100%);
}

.skip:focus{
  position: absolute;
  margin-top: 10px;
}

/*prefers reduced motion */
@media screen and (prefers-reduced-motion){
  #h h1{
    animation-duration: 0s;
  }
  #main img{
    animation-name: image;
    animation-duration: 0s;
  }
  #main img:hover{
    filter: none;
  }
  body{
    display: grid;
    background-color: #a9e3f5;
    padding: 20px;
  }

  .flip-card{
    transition: transform none;
  }

}

/* tablet view */
@media screen and (min-width: 768px){
  #h h1{
    font-size: 100px;
  }
  .context{
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    margin: 15px;
    padding: 100px;

  }
  nav{
    text-align: center;
  }
  .grid-container{
    flex-grow: 3; 
    flex-basis: fit-content;

  }
  footer{
    left:0;
    bottom: 0;
    width: 100%;
    position: fixed;

  }

}

/* desktop view */

@media screen and (min-width: 880px){
  footer{
    position: relative;
  }
  body{
    display: grid;
    background-image: url(../main-images/background-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .grid-item{
    background-color: transparent;
    font-size: 0px;
    width: 300px;
    height: 300px;
    perspective: 1000px;

  }
  .flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
 

  .grid-item:hover .flip-card, .grid-item:active .flip-card, .grid-item:focus .flip-card{
    transform: rotateY(180deg);
  }
  .grid-item:focus-within .flip-card{
    transform: rotateY(180deg);
}

  .flip-front, .flip-back {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }

  .flip-front {
    color: black;
  }
  
  .flip-back {
    border-radius: 25%;
    color: black;
    transform: rotateY(180deg);
  }
  .flip-back h1{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
  }
  .flip-back p{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
  }

}